.inputEntityWithErrorsContainer {
  min-width: 200px;
  margin-bottom: 1.8rem;
  font-size: 1.3rem;
}

.label {
  margin-bottom: 9px;
}

.inputsContainer {
  margin: 0;
  padding: 2rem 0 1rem;
  background: #FAFAFB;
  box-shadow: 0 2px 4px #E3E9F3;
  border-radius: 2px;
}